
* {
    box-sizing: border-box;
}


body{
    background-color:#006191 ;
    margin: 0;
    font-family: 'American Typewriter', serif;
}

.wrapper{
    width:100%;
    margin: 0 auto;
    background-color: #ffffff;
}

h1,h2,h3,h4,h5,h6,p{
    color: #111;
    line-height: 24px;
}

h1{
    font-weight: 600;
    font-size: 32px;
    padding: 20px 0;
    text-align: center;
}

.index-intro{
    width: 900px;
    margin: 0 auto;
    background-color: #ffffff;
}

/*? Fondo del encabezado */
.encabezado{
    padding: 0px;
    text-align: center;
    background: #d50628;
    color: white;
}

/*? Encabezado en si */
.opciones_encabezado {
    overflow: hidden;
    background-color: #fcae22;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
/* Style the navigation bar links */
.opciones_encabezado a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}


/*Right-aligned link */
.opciones_encabezado a.right {
    float: right;
}

/* Change color on hover */
.opciones_encabezado a:hover {
    background-color: #d50628;
    color: white;
}

/* Active/current link */
.opciones_encabezado a.active {
    background-color: #b17300;
    color: white;
}

/*? Columnas */
.row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

/* Main column */
.main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 20px;
}


form {
	padding: 50px 20px;
	background-color: #ededed;
	margin: calc(25% + 100px);
	margin-top: 70px;
	padding-top: 28px;
	margin-bottom: 30px
}


input {
	width: calc(100% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px
}

input[type='submit']{
	background-color: #48e;
	color: #fff;
	width: calc(80% - 20px);
	margin: 0 10%;
	margin-top: 22px;
	border: none;
}